*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
  }
  body{
    background-color: black;
    color: #e1ff00;
  
    
  }
  main{
      margin: 50px;
  }
  a{
    text-decoration: none;
    color: #ff9500;
  }
  button{
    padding: 8px; 
    border: none; 
    border-radius: 15px;
    
    
  }
  
  
  nav{
    
    border : 1px solid white;
    text-align: center;
  height: 50px;
    border-radius: 12px;
    margin-top: 30px;
  
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  footer{
  height: 100px;
    display: flex;
    justify-content: center;
  align-items: center;
    background-color: red;
  }
  
  
  img{
    width: 450px;
    height: 550px;
    border: 2px solid yellow;
    border-radius: 12px;
  }
  
  #services{
  
    display: grid;
    justify-content: center;
    align-items: center;
  
  }
  
  .info{
  
    text-align: center;
  }
   .contact{
     
     display: flex;
     align-items: center;
     
     
   }
  
  #project{
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  .projectimg{
    display: grid;
    justify-content: space-between;
  }
  .form{
    position: relative;
    left: 550px;
    padding: 10px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
  background-color: red;
    width: 400px;
  
  
  }
  
  input {
    position: relative;
    left: 70px;
    text-align: center;
    margin: 5%;
    height:30px;
    width: 200px;
    border: 1px solid black;
    border-radius: 10%;
    text-align: center;
  }
  
  .textarea {
  position: relative;
    left: 50px;
    text-align: center;
    margin: 10%;
  
    border: 1px solid black;
    border-radius: 10%;
  }
  .scoresheetimg, .tributeimg{
    height:500px;
    width: 600px;  
  }  